:root {
    --red: #dc2626;
    --red-translucent: #dc26260d;
    --orange: #f97316;
    --orange-translucent: #f973160d;
    --amber: #d97706;
    --amber-translucent: #d977060d;
    --yellow: #f59e0b;
    --yellow-translucent: #f59e0b0d;
    --green: #22c55e;
    --green-translucent: #22c55e0d;
    --emerald: #10b981;
    --emerald-translucent: #10b9810d;
    --teal: #14b8a6;
    --teal-translucent: #14b8a60d;
    --cyan: #06b6d4;
    --cyan-translucent: #06b6d40d;
    --sky: #0ea5e9;
    --sky-translucent: #0ea5e90d;
    --blue: #2563eb;
    --blue-translucent: #2563eb0d;
    --indigo: #4f46e5;
    --indigo-translucent: #4f46e50d;
    --violet: #7c3aed;
    --violet-translucent: #7c3aed0d;
    --rose: #e11d48;
    --rose-translucent: #e11d480d;
}