@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/ibm.woff2) format('woff2');
    text-rendering: optimizeLegibility;
    font-display: swap;
}


@font-face {
    font-family: 'IBM Plex Sans';
    src: url(/ibm-italic.woff2) format('woff2');
    text-rendering: optimizeLegibility;
    font-style: italic;
    font-display: swap;
}