@import './colors.scss';
@import './fonts.scss';
:root {
    --primary-color: #5c87f6;
    --background-code-block: #0a0b0eb1;
    --background-color-dialog: #111318;
        --background-color: #111318;
        --background-color-secondary: #20242d;
        --background-color-navbar: #111318d0;
        --background-color-backdrop: #0a0b0eb1;
        --background-color-link-hover: #5c88f60c;
        --background-color-emphasis: #5c88f612;
        --border-color: #20242d;
        --foreground-color-icon: #8994ae;
        --foreground-color-paragraph: #8994ae;
        --foreground-color-titles: #e2eafd;
        --foreground-color-links: #acb5c7;
    --z-index-body: 0;
    --z-index-navbar: 100;
    --z-index-dialog: 200;
    --body-inner-padding: 1em;

    @media (width >430px) {
        --body-inner-padding: 1.5em;
    }

    @media (width >900px) {
        --body-inner-padding: 3em;
    }

    @media (width >1200px) {
        --body-inner-padding: 18em;
    }

    @media (width >1600px) {
        --body-inner-padding: 30em;
    }

}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--background-color-emphasis);
        color: var(--primary-color);
}


html {
    color-scheme: dark;
    accent-color: var(--primary-color);
        color: var(--foreground-color-titles);
    scroll-behavior: smooth;
    font-family: 'IBM Plex Sans', sans-serif, system-ui;
}

body {
    background-color: var(--background-color);
    position: relative;
    z-index: var(--z-index-body);
}

main,
nav {
    padding-inline: var(--body-inner-padding);
}

svg {
    width: 1.5em;
    height: 1.5em;
}

a {
    text-decoration: none;
}

p {
    color: var(--foreground-color-paragraph);
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--foreground-color-titles);
}

section {
    margin-block: 2em;
    display: grid;
    gap: 1em;
}

input {
    background-color: var(--background-color);
        border: solid 1px var(--border-color);
    padding: 1em 2em;
    border-radius: .5em;
    display: grid;
}

input:focus {
    outline: solid 1px var(--primary-color);
}

img {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    object-fit: contain;
}