*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
}

input,
button,
textarea,
select {
    font: inherit;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

img,
video {
    height: auto;
    max-width: 100%;
    object-fit: contain;
}

svg {
    width: 1.5em;
    height: 1.5em;
}