---
import Navbar from "#components/layout/navbar.astro";
import { SEO } from "astro-seo";
import "../../theme/main.css";
import Footer from "./footer.astro";

const { title = "Carlos Burelo" } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/logo.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Carlos Burelo - Software Engineer</title>
        <SEO title="Carlos Burelo - Software Engineer" />
    </head>
    <body>
        <Navbar title={title} />
        <div>
            <slot />
        </div>
        <Footer />
    </body>
</html>
