---
const { title, summary, date, role } = Astro.props as Experience$
---

<li>
    <header>
        <h3>{title}</h3>
        <time>{date}</time>
    </header>
    <span>{role}</span>
    <p>{summary}</p>
</li>

<style>
    li {
        list-style: none;
        position: relative;
        padding-left: 20px;
        display: grid;
        gap: 0.75em;
    }
    li::before {
        content: '•';
        color: var(--primary-color);
        font-size: 1.7em;
        line-height: 1;
        position: absolute;
        left: 0;
    }
    header {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
    }

    span {
        color: var(--primary-color);
    }

    time {
        background-color: var(--background-color-emphasis);
        padding: 0.25em 0.5em;
        border-radius: 0.25em;
        font-size: 0.75em;
        display: grid;
        align-content: center;
        color: var(--primary-color);
    }
</style>
