---
import { prettyShortDate } from "#libs/parsers";

const { post } = Astro.props as { post: Post };

const {
    data: { createdAt, updatedAt, title },
    slug,
} = post;

const baseDate = prettyShortDate(createdAt);
const updatedDate = prettyShortDate(updatedAt);
const isUpdated = createdAt.getTime() != updatedAt.getTime();
const newDate = isUpdated ? updatedDate : baseDate;
---

<a href={`/blog/${slug}`}>
    <p>{title}</p>
    <time datetime={newDate}>{newDate}</time>
</a>

<style>
    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        border-bottom: solid 1px var(--border-color);
    }
    a:hover {
        color: var(--primary-color);
    }
    time {
        font-size: 0.8em;
        text-wrap: nowrap;
    }
</style>
