---
import { Image } from "astro:assets";
// Importa la imagen como asset
import profileImage from "../../../../public/profile.webp";
---

<a href="/#">
    <Image
        class="img"
        src={profileImage}
        alt="Imagen alternativa"
        loading="eager"
        decoding="async"
        width={500}
        height={281}
        quality={85}
        format="webp"
    />
    <span class="name">Project Name</span>
</a>

<style>
    .img {
        border-radius: 1em;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        content-visibility: auto;
    }
</style>
