---
import Icon from "#components/elements/icon.astro";
import { LANGUAGE_COLORS } from "../../constants/colors.ts";
const { data, slug } = Astro.props;
---

<a href={`/snippets/${slug}`}>
    <i style={`color: ${LANGUAGE_COLORS[data.lang.toLowerCase()]};`}
        ><Icon name={data.lang.toLowerCase()} /></i
    >
    <h4>{data.title}</h4>
</a>

<style>
    a {
        border-radius: 0.5em;
        border: solid 1px var(--border-color);
        padding: 1em;
        min-height: 100px;
        position: relative;
        overflow: hidden;
    }
    h4 {
        z-index: 1;
        position: relative;
    }
    i {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        font-size: 3em;
        z-index: 0;
        opacity: 0.1;
    }
</style>
