<section>
    <h2>About me</h2>
    <p>
        Software Engineer with 5 years of experience in the industry. I have worked in different
        projects and technologies, from web development to mobile development. I am passionate about
        learning new things and sharing my knowledge with others.
    </p>
</section>
