<section>
    <p>
        Desarrollador web con +5 años de experiencia en la creación de soluciones digitales. He
        liderado proyectos de código abierto y soluciones personalizadas para clientes, lo que ha
        ampliado mi capacidad para resolver desafíos complejos. Mi interés radica en seguir
        perfeccionando mis habilidades y conocimientos en el ámbito del desarrollo web
    </p>
</section>
