---
import { Image } from "astro:assets";
import img1 from "../../../../public/img1.avif";
import img2 from "../../../../public/img2.avif";
import img3 from "../../../../public/img3.avif";

const fotos = [img3, img1, img2];
---

<section>
    {
        fotos.map((foto) => (
            <div>
                <Image
                    class="img"
                    src={foto}
                    alt="Foto de perfil"
                    loading="lazy"
                    decoding="async"
                    width={500}
                    height={281}
                    quality={85}
                    format="avif"
                />
            </div>
        ))
    }
</section>

<style>
    section {
        grid-template-columns: repeat(3, 1fr);
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        overflow-x: auto;
        scroll-behavior: smooth;
        padding-block: 1em;
    }
    div {
        min-width: 200px;
        overflow: hidden;
    }
    .img {
        display: grid;
        width: 100%;
        border-radius: 0.75em;
        aspect-ratio: 2/3;
        object-fit: cover;
        background-color: var(--background-color-secondary);
        filter: grayscale(100%);
        transition:
            filter 0.3s ease-in-out,
            transform 0.3s ease-in-out;
    }
    .img:hover {
        filter: grayscale(0%);
        transform: scale(1.01);
    }
</style>
