---
const fotos = ["/img3.avif", "/img1.avif", "/img2.avif"];
---

<section>
    {
        fotos.map((foto) => (
            <div>
                <img src={foto} alt="Foto de perfil" />
            </div>
        ))
    }
</section>

<style>
    section {
        grid-template-columns: repeat(3, 1fr);
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
        overflow-x: auto;
        scroll-behavior: smooth;
        padding-block: 1em;
    }
    div {
        min-width: 200px;
        overflow: hidden;
    }
    img {
        display: grid;
        width: 100%;
        border-radius: 0.75em;
        aspect-ratio: 2/3;
        object-fit: cover;
        background-color: var(--background-color-secondary);
        filter: grayscale(100%);
        transition:
            filter 0.3s ease-in-out,
            transform 0.3s ease-in-out;
    }
    img:hover {
        filter: grayscale(0%);
        transform: scale(1.01);
    }
</style>
