<section>
    <h1>Building My Own Ideas.</h1>
    <h2>Helping You to Launch Yours.</h2>
    <p>
        I'm a Designer who's obsessed with (low)code tech. Creating aesthetic and timeless digital
        products & showing you how to build your own design businesses by yourself.
    </p>
</section>

<style>
    h1 {
        font-size: 2.3rem;
    }
    h2 {
        font-size: 2rem;
    }
</style>
