---
import { getCollection } from "astro:content";
import PostCard from "#components/cards/post-card.astro";

const posts = await getCollection("blog");
---

<section>
    {posts.map((post) => <PostCard post={post} />)}
</section>

<style>
    section {
        gap: 3em;
    }
</style>
