---
import ProjectCard from "#components/cards/project-card.astro";

const projects = Array.from({ length: 7 });
---

<section>
    <h2>Proyectos</h2>
    <div>
        {projects.map(() => <ProjectCard />)}
    </div>
</section>

<style>
    h2 {
        margin-block: 1em;
    }
    div {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 1em;
        padding-bottom: 1em;
    }
    div::-webkit-scrollbar {
        height: 8px;
    }
    div::-webkit-scrollbar-thumb {
        background-color: var(--border-color);
        border-radius: 4px;
    }
    div::-webkit-scrollbar-track {
        background-color: var(--background-color);
    }

    @media (max-width: 600px) {
        div {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1em;
            overflow-x: unset;
            scroll-snap-type: none;
        }
    }
</style>
