---
const props = Astro.props;
---

<li {...props}>
    <slot />
</li>

<style>
    li {
        list-style: inside;
        color: var(--foreground-color-paragraph);
    }
    li::marker {
        color: var(--primary-color);
    }
    :global(li > *) {
        display: inline;
    }
</style>
