---
const props = Astro.props;
---

<div>
    <table {...props}>
        <slot />
    </table>
</div>

<style>
    div {
        overflow-x: auto;
        margin: 1em 0;
        padding-bottom: 0.5em;
        border-radius: 0.5em;
        background-color: var(--background-color);
    }
    div::-webkit-scrollbar {
        height: 8px;
    }
    div::-webkit-scrollbar-thumb {
        background-color: var(--border-color);
        border-radius: 4px;
    }
    div::-webkit-scrollbar-track {
        background-color: var(--background-color);
    }

    table {
        width: 100%;
        border-spacing: 0;
        border: 1px solid var(--border-color);
        border-radius: 0.5em;
        font-size: 0.9em;
    }
    :global(th) {
        white-space: nowrap;
    }
    :global(th),
    :global(td) {
        padding: 0.5em;
        border-right: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0.9em;
    }

    :global(th:last-child),
    :global(td:last-child) {
        border-right: none;
    }

    :global(tr:last-child td) {
        border-bottom: none;
    }
</style>
