---
import BackButton from "../../core/components/elements/back-button.astro";
import Root from "../../core/components/layout/root.astro";
import components from "../../core/components/mdx";
export { getSnippets as getStaticPaths } from "../../core/libs/providers";

export const prerender = true;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Root>
    <BackButton />
    <h1>{entry.data.title}</h1>
    <article>
        <Content components={components} />
    </article>
</Root>

<style>
    article {
        display: grid;
        gap: 1em;
    }
    h1 {
        margin-block: 0.5em;
    }
</style>
