---
import { getCollection } from "astro:content";
import Root from "../../core/components/layout/root.astro";
import components from "../../core/components/mdx";
import TableOfContents from "../../core/components/elements/table-of-contents.astro";

export const prerender = true;

export async function getStaticPaths() {
    const blogEntries = await getCollection("snippets");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Root>
    <h1>{entry.data.title}</h1>
    <article>
        <Content components={components} />
    </article>
</Root>

<style>
    article {
        display: grid;
        gap: 1em;
        margin-top: 4em;
    }
</style>
