---
export interface Props {
    id: string
}

const { id } = Astro.props
---

<dialog id={id}>
    <div>
        <slot />
    </div>
</dialog>

<style>
    @keyframes overlap {
        from {
            opacity: 0.4;
            transform: translate(-50%, -40%);
        }
        to {
            opacity: 1;
        }
    }

    dialog {
        min-width: 350px;
        min-height: fit-content;
        max-height: 350px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid 1px var(--bc);
        background-color: var(--background-dialog);
        border-radius: 0.5em;
        animation: overlap ease-in-out 0.2s;
    }

    dialog::backdrop {
        inset: 0px;
        backdrop-filter: blur(4px);
        background-color: var(--background-dialog-backdrop);
        transition: background-color 0.2s ease-in-out;
    }
    div {
        padding: 0.5em;
        display: grid;
        gap: 1em;
        background-color: var(--bg);
        position: relative;
    }
</style>

<script defer is:inline define:vars={{ id }}>
    const dialog = document.querySelector(`#${id}`)
    dialog.addEventListener('click', e => e.target === dialog && dialog.close())
</script>
