---
import type { CollectionEntry } from 'astro:content'

export interface Props {
    post: CollectionEntry<'blog'>
}

const { post } = Astro.props
---

<a href={`/blog/${post.slug}`}>
    <h4>{post.data.title}</h4>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quod voluptatibus
        sapiente reiciendis eum quibusdam debitis impedit voluptatem voluptates odio?
    </p>
</a>

<style>
    a {
        all: unset;
        cursor: pointer;
    }
    h4 {
        letter-spacing: 0.01em;
        font-size: 1.2em;
    }
</style>
